<%- include("partials/header"); -%>

<form action="/delete" method="POST">
    <input type="text" name="deletePostTitle">
    <button type="submit">Delete</button>
</form>

<%- include("partials/footer"); -%>